.flx {
  display: flex;
  align-items: center;
  gap: 5px;
}
.flx-clm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.flx-clm-2px {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.preview {
  width: 50%;
  padding: 10px;
  background-color: #656e83;
}
.previewHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.previewHeader_one {
  display: flex;
  align-items: center;
}
.templateBtn {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid #afafaf;
  cursor: pointer;
  position: relative;
}
.color_palate {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #0000006f;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  top: 100%;
}
.color_palate .color_holder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.color_palate .color_holder:hover {
  border: 1px solid #fff;
}
.templateBtn p {
  font-weight: 400px;
  font-size: 14px;
}
.fontBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
}
.fontBtn h4 {
  font-size: 20px;
  font-weight: 400;
}
.fontBtn button {
  background-color: transparent;
  border: 0 none;
  display: flex;
  border-radius: 50%;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.fontBtn button:hover {
  background-color: #2d2d2d;
}
.downloadBtns {
  display: flex;
  gap: 10px;
  position: relative;
}
.dropdown_menu {
  position: absolute;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 18px gray;
  top: 120%;
  right: 0;
  width: 102%;
  padding: 10px;
}
.dropdown_menu div {
  cursor: pointer;
}
.dropdown_menu div:hover {
  color: #1a91f0;
}
.dropdown_menu h4 {
  font-weight: 400;
}
.downloadBtns button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 0 none;
  border-radius: 4px;
  background-color: #1a91f0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.downloadBtns button:hover {
  background-color: #1170cd;
}

.preview_main_container {
  display: flex;
  width: 400px;
  height: 600px;
  margin-top: 36px;
  border-radius: 6px;
  box-shadow: 0 0 16px rgb(61, 61, 61);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.preview_main_container .personal_details {
  width: 40%;
  height: 100%;
  border-radius: 6px 0 0 6px;
  color: #fff;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.personal_details h4,
.experience_details h4 {
  font-size: 12px;
}
.personal_details h6,
.experience_details h6 {
  font-size: 10px;
  font-weight: 200;
}
.personal_details p,
.experience_details p {
  font-size: 8px;
  color: #afafaf;
  line-height: 12px;
}
.profile_photo {
  width: 40px;
  height: 40px;
}
.profile_photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.preview_main_container .experience_details {
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile_dis {
  width: 100%;
  word-wrap: break-word;
}
.profile_exp_tab ul {
  font-size: 6px;
  list-style-position: inside;
}
.profile_skills progress {
  width: 100px;
  height: 5px;
}

@media (max-width: 1198px) {
  .preview {
    width: auto;
  }
}
@media (max-width: 490px) {
  .preview_main_container {
    width: 300px;
    height: 500px;
  }
  .fontBtn,
  .avatar {
    display: none;
  }
  .templateBtn {
    white-space: nowrap;
  }
  .downloadBtns button {
    font-size: 12px;
    padding: 2px 3px;
  }
  .personal_details p,
  .experience_details p {
    font-size: 5px;
  }
  .personal_details h4,
  .experience_details h4 {
    font-size: 8px;
  }
  .personal_details h6,
  .experience_details h6 {
    font-size: 7px;
  }
  .profile_skills progress {
    width: 80px;
  }
  .dropdown_menu h4 {
    font-size: 10px;
  }
}
